<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team69.itproject.mappers.SongMapper">

    <resultMap id="BaseResultMap" type="com.team69.itproject.entities.po.SongPO">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="author" column="author" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="releaseDate" column="release_date" jdbcType="TIMESTAMP"/>
        <result property="status" column="status" jdbcType="TINYINT"/>
    </resultMap>

    <resultMap id="DTOResultMap" type="com.team69.itproject.entities.dto.SongDTO">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="author" column="author" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="releaseDate" column="release_date" jdbcType="TIMESTAMP"/>
        <result property="status" column="status" jdbcType="TINYINT"/>
    </resultMap>

    <select id="getSongList" resultMap="DTOResultMap">
        SELECT *
        FROM songs
        WHERE status = 1
    </select>

    <select id="getSongByCategory" resultType="com.team69.itproject.entities.dto.SongDTO">
        SELECT s.*
        FROM songs s
                 JOIN song_category_list scl ON s.id = scl.song_id
                 JOIN category c ON scl.category_id = c.id
        WHERE c.name = #{category} AND c.status = 1 AND s.status = 1
    </select>

    <select id="searchSongByName" resultType="com.team69.itproject.entities.dto.SongDTO">
        SELECT *
        FROM songs
        WHERE name LIKE CONCAT('%', #{name}, '%') AND status = 1
    </select>

    <select id="getUserSongListByName" resultType="com.team69.itproject.entities.dto.SongDTO">
        SELECT s.*
        FROM songs s
                 JOIN user_song_list usl ON s.id = usl.song_id
        WHERE usl.user_id = #{userId}
          AND usl.name = #{name}
          AND s.status = 1
    </select>

</mapper>
